<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <!-- <button routerLink="/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>Inicio
        </button> -->
        <button mat-list-item routerLink = "/admin/digitalizacion">
            <mat-icon mat-list-icon >cloud_upload</mat-icon>Carga de <br>Documentos
        </button>
        <button mat-list-item routerLink = "/admin/descarga">
            <mat-icon mat-list-icon >cloud_download</mat-icon>Descarga de <br>Documentos
        </button>
        
        <button mat-list-item (click)="logout()">
            <mat-icon mat-list-icon >logout</mat-icon>Salir
        </button>
    </mat-action-list>
</mat-card>